<div class="standard-page">
  <br><br><br>

  <div class="news-like_container">
      <div class="top-header-container">
          <span class="tab-header">{{ tabDescriptionObject[tabIndex].title }}</span>
          <ul style="margin: 0">
            <li *ngFor="let item of tabDescriptionObject[tabIndex].features">{{ item }}</li>
          </ul>
      </div>

      <div class="news-headlines header-btm-adjust">
        <div class="news-flash-container">
          <div class="inner-flash-container">
            <span class="flash-header">Our Top News Message:</span>
            <app-news-flash [newsFlash]="newsFlash"></app-news-flash>
          </div>
        </div>
      </div>
  </div>


  <div class="custom-tabs-container">
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabchange($event)">

      <mat-tab label="Diplomatic">
        <app-diplomatic [diplomaticNewsItems]="diplomaticArray"></app-diplomatic>
      </mat-tab>

      <mat-tab label="Home-Away">
        <app-home-away [homeAwayNewsItems]="homeAwayArray"></app-home-away>
      </mat-tab>

      <mat-tab label="General">
        <app-general [generalNewsItems]="generalArray"></app-general>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
