.loginContainer {
  .mat-card {
    max-width: 465px;
    width: 100%;
    margin: 20px;
  }

  .login-card {
    position: relative;
  }

  .close-icon-login {
    position: absolute;
    left: 19px;
    bottom: 8px;
  }
}
