<div class="standard-page">
  <br><br><br>

  <div class="unit_container">
    <div class="top-header-container">
      <span class="tab-header">About SCEF</span>
    </div>

    <div class="news-headlines header-btm-adjust">
      <div class="news-flash-container">
        <div class="inner-flash-container">
          <span class="flash-header">Our Top News Message:</span>
          <app-news-flash></app-news-flash>
        </div>
      </div>
    </div>
  </div>


  <div class="main-page-container">
    <div class="design-bar"></div>
    <div class="inner-main-container">
      <mat-card class="parent-card-container">
        <mat-card-content class="container">
          <div class="design-item-container padding-container">
            <mat-card>
              <h3>About SCEF Leadership :</h3>
              <hr>
              <div class="about-content">
                <div class="about-item-container">
                  <div class="about-text-content">
                    SCEF is lead by a group of women in our society.
                    <p>
                      In our African community, the woman has proven to be the back-bone of development, and
                      the symbol of responsibility. <br>
                      As the African woman would not let down her household, so would the women not let down SCEF in
                      particular, and Southern Cameroons in general.
                    </p>
                    <p>
                      The SCEF leadership has only one master to serve, and that is the Nation of Southern Cameroons
                      represented by her people, both back home and in the diaspora.
                    </p>
                    <div>
                      The SCEF office is made up of All Women:
                      <ol>
                        <li>Mission Director.</li>
                        <li>Secretary General.</li>
                        <li>Chief Financial Officer (CFO)</li>
                        <li>3 Assistant Financial Officers and 1 Financial Secretory.</li>
                      </ol>
                    </div>

                  </div>
                  <div class="about-img-container">
                    <img class="about-image" src="assets/images/about/women.jpg" alt="About SCEF">
                  </div>
                </div>
                <div></div>
                <div></div>
              </div>

            </mat-card>
            <div class="spacer"></div>
          </div>
        </mat-card-content>
      </mat-card>







      <mat-card class="parent-card-container">
        <mat-card-content class="container">
          <div class="design-item-container padding-container">
            <mat-card>
              <h3>About the types of help that we provide:</h3>
              <hr>
              <div class="about-content">
                <div class="about-item-container">
                  <div class="about-text-content">
                    SCEF (Southern Cameroons Elite Force) was creted in the year 2020 with the primary goal of lending a
                    helping hand to our suffering people of Southern Cameroons origin.
                    SCEF is not a group but a mission that aims to bring all Southern Cameroonians from all walks of
                    life,
                    all groups (cultural or political) together in order to contribute regularly for a continual,
                    sustainable
                    support to the Revolution and struggle of our people back home.
                    <p>
                      The help that SCEF provides constitues making available the needed goods and services that would
                      help
                      individuals or groups of individuals in desperate need.
                    </p>
                    <p>
                      The interests of the People of Southern Cameroons in different forms are not left out.
                      We help provide transportation to our suffering people both in Cameroon and abroad,
                      when they go out for protests, and thereby also purchase and rent protest materials for them
                      while they go out for protest.
                    </p>
                  </div>
                  <div class="about-img-container">
                    <img class="about-image" src="assets/images/about/Southern-Cameroons-protest.jpg" alt="About SCEF">
                  </div>
                </div>
                <div></div>
                <div></div>
              </div>

            </mat-card>
            <div class="spacer"></div>
          </div>
        </mat-card-content>
      </mat-card>


      <mat-card class="parent-card-container">
        <mat-card-content class="container">
          <div class="design-item-container padding-container">
            <mat-card>
              <h3>About how SCEF Functions:</h3>
              <hr>
              <div class="about-content">
                <div class="about-item-container">
                  <div class="about-text-content">
                    SCEF functions based on <i>Transparency</i>.
                    <p>
                      We eat, think and breathe transparency, and this transparency is coordinated by the people of
                      Southern Cameroons themselves as registered members of SCEF. <br>
                      Members take turns in <i>evaluating,</i> <i> analysing, </i> <i>approving</i>
                      of projects.
                    </p>
                    <p>
                      In SCEF, the auditing committee is voted in to function by the members, and takes place at the
                      members' request.
                      So in SCEF, as a member, you are paramount.
                    </p>
                    <p>
                      The SCEF mission aims to bring together all Members of the Elite class across Canada and North
                      America
                      who have accepted to make $50 monthly contributions to support the struggle and the projects are
                      not
                      limited to any groups or affiliations. SCEF has a goal of reaching a minimum of 300 members.
                      All contributions are geared towards humanitarian help to the internally displaced and Refugees
                      scattered across Africa. <br>
                      SCEF is answerable to its members.
                    </p>
                  </div>
                  <div class="about-img-container">
                    <img class="about-image" src="assets/images/about/transparency.jpg" alt="About SCEF">
                  </div>
                </div>
                <div></div>
                <div></div>
              </div>

            </mat-card>
            <div class="spacer"></div>
          </div>
        </mat-card-content>
      </mat-card>
      <br>


    </div>
  </div>
</div>
