<div class="standard-page">
  <br><br><br>

  <div class="unit_container news-like-container">
      <div class="top-header-container">
        <span class="tab-header">Donations for SCEF Missions</span>
      </div>

      <div class="news-headlines header-btm-adjust">
        <div class="news-flash-container">
          <div class="inner-flash-container">
            <span class="flash-header">Our Top News Message:</span>
            <app-news-flash></app-news-flash>
          </div>
      </div>
    </div>
  </div>


  <div class="main-page-container">
    <div class="design-bar"></div>
    <div class="inner-main-container"> <br/>

      <mat-card class="parent-card-container">
        <mat-card-content class="container">
          <div class="design-item-container padding-container">
            <mat-card>

                <div class="form-control-title" style="font-size: 23px;">
                    <p>Processing of donations through Paypal and Interac would be coming up in this page.</p>
                    <p>For now, you can make donations to SCEF through Interac.</p>
                    <p>Follow our contact information in the footer please.</p>
                </div>

            </mat-card>
            <div class="spacer"></div>
          </div>
        </mat-card-content>
      </mat-card>
      
    </div>
  </div>





</div>
