<div class="login-wrapper registerContainer" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registerMembersForm" novalidate class="register-form" (ngSubmit)="register()">

      <mat-card-content>
        <mat-form-field class="register-control" 
              [ngClass]="{'error-controlled': userName.errors && userName.touched}">
          <input type="text" formControlName="userName" matInput placeholder="User Name">
        </mat-form-field>

        <mat-form-field class="register-control" [ngClass]="{'error-controlled': userEmail.errors && userEmail.touched }">
          <span *ngIf="(userEmail.dirty || userEmail.touched) && userEmail.errors?.required" class="error-message">The Email field is required!</span>
          <span *ngIf="(userEmail.dirty || userEmail.touched) && (userEmail.invalid && !userEmail.errors?.required)"
            class="error-message">The Email must be valid and be between 8 and 25.</span>
          <input type="email" matInput formControlName="userEmail" placeholder="Email">
        </mat-form-field>

        <mat-form-field class="register-control"
            [ngClass]="{'error-controlled': password.errors && password.touched }">
          <input type="password" formControlName="password" matInput placeholder="Password">
        </mat-form-field>

        <!-- <mat-form-field class="register-control"
            [ngClass]="{'error-controlled': passwordConf.touched && registerMembersForm?.errors }">
            <span class="error-message" *ngIf="passwordConf.touched && registerMembersForm.errors">The Passwords do not match!</span>
          <input type="password" formControlName="passwordConf" matInput placeholder="Confirm Password">
        </mat-form-field> -->

        <mat-form-field class="register-control"
            [ngClass]="{'error-controlled': (registerMembersForm?.get('passwordConf').touched && registerMembersForm?.get('passwordConf').errors?.required) || 
            (registerMembersForm?.get('passwordConf').touched && registerMembersForm?.get('passwordConf').errors?.mismatch) }">
            <span class="error-message" *ngIf="registerMembersForm?.get('passwordConf').touched && registerMembersForm?.get('passwordConf').errors?.required">This Field is Mandatory!</span>
            <span class="error-message" *ngIf="registerMembersForm?.get('passwordConf').touched && registerMembersForm?.get('passwordConf').errors?.mismatch">The Passwords do not match!</span>
          <input type="password" formControlName="passwordConf" matInput placeholder="Confirm Password">
        </mat-form-field>

        <!-- <mat-form-field class="register-control"
            [ngClass]="{'error-controlled': passwordConf.touched && registerMembersForm?.errors.mismatch }">
            <span class="error-message" *ngIf="passwordConf.touched && registerMembersForm.errors?.mismatch === true">The Passwords do not match!</span>
          <input type="password" formControlName="passwordConf" matInput placeholder="Confirm Password">
        </mat-form-field> -->

        <mat-form-field class="register-control" 
            [ngClass]="{'error-controlled': firstName.errors && firstName.touched }">
          <input type="text" formControlName="firstName" matInput placeholder="First Name">
        </mat-form-field>

        <mat-form-field class="register-control"
            [ngClass]="{'error-controlled': lastName.errors && lastName.touched }">        
          <input type="text" formControlName="lastName" matInput placeholder="Last Name">
        </mat-form-field>

        <mat-form-field class="register-control"
            [ngClass]="{'error-controlled': phone.errors && phone.touched }">
          <input type="text" formControlName="phone" matInput placeholder="Phone">
        </mat-form-field>

        <mat-form-field class="register-control"
            [ngClass]="{'error-controlled': city.errors && city.touched }">
          <input type="text" formControlName="city" matInput placeholder="City">
        </mat-form-field>

        <!-- <mat-form-field class="register-control">
          <mat-label>Choose a role...</mat-label>
          <mat-select [(value)]="selected">
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

      </mat-card-content>

      <div class="submit-btn-container">
        <span *ngIf="registerMembersForm.status==='INVALID'">Disabled Until Form is Valid</span>
        <button [disabled]="registerMembersForm.status==='INVALID'" mat-stroked-button color="accent" type="submit" class="btn-block register_btn">
            Register
        </button>
      </div>

      <div class="cancel-bt-container">
        <button class="cancel-bt" mat-fab type="button" (click)="cancel()">Cancel</button>
      </div>
      

    </form>
  </mat-card>
</div>
