

.cancel-bt-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    .cancel-bt {
        margin-top: 5px;
        background-color: grey;
    }
}



.register_btn:disabled {
    background-color: grey;
}

.register-control {
    position: relative;
}


.error-message {
    color: #2e08f1;
    position: absolute;
    position: absolute;
    left: -3px;
    top: -5px;
    font-size: 15px;
}
