.navbar-container {
    width: 100%;
    .nav-label {
        font-size: 1.2em;
        .user-account {
            mat-icon{
               font-size: 1.2em; 
            }
            .user-id-text {
                font-size: 0.8em; 
                transform: translate(3px, -7px);
            }
            .user-menu-group { 
                line-height: 25px !important;
                padding: 0;
                display: inline;
                float: left;
                .user-icon {
                    font-size: 35px !important;
                }
                .user-menu-dropdown-icon {
                    font-size: 30px !important; 
                }
            }
        }
        .elite-force-dropdown {
            font-size: 21px;
        }
    }
    .nav-links {
        .nav-tool-items{
            a {
                float: right;
                margin-left: 10px;
                font-size: 1em;
            }
        }
        .active {
            background-color: rgb(102, 206, 238);
            color: black;
        }
    }
}

.home-btn, .main-menu-btn {
    padding: 4px;
    min-width: 30px;
    height: 38px;
    line-height: 32px;
    .mat-icon {
        margin-bottom: 4px;
    }
}

.mat-toolbar-row, .mat-toolbar-single-row {
    width: 100%;
}

.logo-container {
    background-image: url(../../../assets/sceflogo2.png);
    height: 71px;
    width: 114px;
    position: relative;
    background-size: 115px 71px;
    position: absolute;
    top: 2px;
    left: 1px;
    background-repeat: no-repeat;
}

.menu-icon {
    color: #096d84;
}

@media(max-width: 780px) {
    .user-account-items {
        margin-right: -10px;
        .eliteforce-name {
            float: right; 
            overflow: hidden;
            padding-bottom: 10px;
        }
        .user-name-container {
            float: right;
            overflow: hidden;
        }
    }
}

@media(min-width: 780px) {
    // .user-account-items {
    //     float: right;
    //     .eliteforce-name {
    //         float: right; 
    //         border: solid 1px red;
    //         overflow: hidden;
    //     }
    // }
}
