.navbar-container {
    width: 100%;
    .nav-label {
        float: left;
        width: 180px;
        font-size: 1.2em;
        .user-account {
            mat-icon{
               font-size: 1.2em; 
            }
            .user-id-text {
                display: inline-block;
                font-size: 0.8em; 
                margin-left: 10px;
                transform: translate(3px, -7px);
            }
        }
    }
    .nav-links {
        float: right;
        width: 800px;
        .nav-tool-items{
            a {
                float: right;
                margin-left: 10px;
                font-size: 1em;
            }
        }
        .active {
            background-color: rgb(102, 206, 238);
            color: black;
        }
    }
}


