<div class="navbar-container">
  <div class="nav-label">
    <a href="https://www.positronx.io" target="_blank" class="positronx">Elite Force (SCEF)</a>
  </div>
  <div class="nav-links">
    <span class="nav-tool-items">
        <span *ngIf="!authService.isLoggedIn()">
            <a mat-button mat-raised-button routerLink="login" routerLinkActive="active">Log in</a>
            <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>            
        </span>
        <span *ngIf="authService.isLoggedIn()">
            <a mat-button mat-raised-button (click)="logout()" routerLinkActive="active">Logout</a>
            <a mat-button mat-raised-button routerLink="validate" routerLinkActive="active">Validate Payment</a>
            <a mat-button mat-raised-button routerLink="home" routerLinkActive="active">
                Home 
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </a>            
        </span>
    </span>
  </div>
</div>
