<div class="navbar-container">
  <div class="nav-label">
    <span *ngIf="!authService.isLoggedIn() || !authService.userName">
        <a href="https://www.positronx.io" target="_blank" class="positronx">Elite Force (SCEF)</a>
    </span>
    <span class="user-account" *ngIf="authService.isLoggedIn() && authService.userName">
        <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
        <span class="user-id-text"> Logged in as: <span style="color: #65d3f4"> {{ authService.userName | titlecase }} </span></span>
    </span>  
    
  </div>
  <div class="nav-links">
    <span class="nav-tool-items">

        <span *ngIf="!authService.isLoggedIn()">
            <a mat-button mat-raised-button routerLink="login" routerLinkActive="active">Log in</a>
            <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>            
            <a mat-button mat-raised-button routerLink="relieve" routerLinkActive="active">Relieve Projects</a>            
        </span>
        <span *ngIf="authService.isLoggedIn()">
            <a mat-button mat-raised-button (click)="logout()" routerLinkActive="active">Logout</a>
            <a mat-button mat-raised-button routerLink="validate" routerLinkActive="active">Validate Payment</a>           
        </span>
        <a mat-button mat-raised-button routerLink="mission" routerLinkActive="active">Our Mission</a>
        <a mat-button mat-raised-button routerLink="home" routerLinkActive="active">
            Home 
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </a> 
    </span>
  </div>
</div>
