<div class="custom-tabs-container cockpit_edit_container">
        <mat-tab-group  #videoEditTab mat-align-tabs="start" (selectedTabChange)="tabchange($event)">
    
          <mat-tab label="Add a Video">
    
            <div *ngIf="addVideo" class="design-standard-container">
              <mat-card class="parent-card-container">
                <mat-card-content class="container">
                  <form [formGroup]="addVideoForm" novalidate>
                    <div class="design-item-container">
                      <mat-card>
                        <div><span class="item-title">Enter the Video Title:</span></div>
                        <mat-form-field>
                          <input matInput formControlName="videoTitle" placeholder="Video Title" type="text">
                        </mat-form-field>
                      </mat-card>
                    </div>
    
                    <div class="design-item-container">
                        <mat-card>
                          <div><span class="item-title">Select a video Category:</span></div>
                          <mat-form-field class="option-field">
                            <mat-label>Select an option</mat-label>
                            <mat-select matSelect [(value)]="selected" formControlName="videoCategory">
                              <mat-option value="">None</mat-option>
                              <mat-option value="relief">Relief</mat-option>
                              <mat-option value="diplomatic">Diplomatic</mat-option>
                              <mat-option value="protest">Protest</mat-option>
                            </mat-select>
                          </mat-form-field>
      
                          <p>You selected: {{selected}}</p>
      
                        </mat-card>
                      </div>
    
    
                    <div class="design-item-container">
                      <mat-card>
                        <div><span class="item-title">Enter the Video Description:</span></div>
                        <mat-form-field>
                          <textarea matInput formControlName="videoDescription" placeholder="Video Description"></textarea>
                        </mat-form-field>
                      </mat-card>
                    </div>
    
    
    
    
                    <!-- Poster image file upload  -->
                    <div class="design-item-container padding-container">
                      <mat-card>
                        <div *ngIf="videoPosterImageplaceholderPath" class="preview-image-container">
                          <img style="max-height: 250px; max-width: 250px;" [src]="videoPosterImageplaceholderPath" alt="SCEF image-preview">
                        </div>
    
                        <!-- file to be uploaded -->
                        <div>
                          <!-- The handleFileInput method gets called each time a file gets selected from the file system -->
                          <input type="file" #file placeholder="choose file" accept="image/*"
                            (change)="handlePosterPreview(file.files)" style="display: none">
                          <!-- <input type="file" #file placeholder="choose file" accept="image/*" (change)="handleFileInput($event.target.files)"
                                        style="display: none"> -->
                          <button (click)="file.click()" class="upload-btn">Upload A Video Poster</button> <span
                            class="file-name"> {{ videoPosterFileName }} </span>
    
                          <!-- Progress placeholder -->
                          <span class="upload-progress" *ngIf="photoProgress > 0">
                            {{ photoProgress }}%
                          </span>
                          <span class="upload-message" *ngIf="photoMessage">
                            {{ photoMessage }}
                          </span>
                        </div>
                      </mat-card>
                    </div>
    
                    <!-- video file upload -->
                    <div class="video-upload-container padding-container">
                      <mat-card>
                          <!-- If the video to be uploaded is not available, show the video upload placeholder image -->
                        <div *ngIf="!videoFile2bUploaded" class="preview-image-container">
                            <img style="max-width: 250px" [src]="videoPhoto2bUploaded" alt="SCEF image-preview">
                        </div>
                        <div *ngIf="videoFile2bUploaded" class="preview-image-container">
                            <mat-video #eliteVideo 
                                src="{{videoFile2bUploaded}}"
                                [postar]="videoPhoto2bUploaded"
                                [preload]="true"
                                [autoplay]="true"
                            >
                            </mat-video>
                        </div>
    
                        <!-- file to be uploaded -->
                        <div>
                          <!-- The handleFileInput method gets called each time a file gets selected from the file system -->
                          <!-- <input type="file" #file placeholder="choose file" accept="image/*"
                            (change)="handleFileInput(file.files)" style="display: none"> -->
                          <input type="file" #videoFile placeholder="choose file" accept="video/*" (change)="handleVideoPreview($event.target.files)"
                                        style="display: none">
                          <button (click)="videoFile.click()" class="upload-btn">Upload A Video File</button> <span
                            class="file-name"> {{ videoFileName }} </span>
    
                          <!-- Progress placeholder -->
                          <span class="upload-progress" *ngIf="videoProgress > 0">
                            {{ videoProgress }}%
                          </span>
                          <span class="upload-message" *ngIf="videoMessage">
                            {{ videoMessage }}
                          </span>
                        </div>
                      </mat-card>
                    </div>
                  </form>
                </mat-card-content>
    
                <div class="news-form-submit-btn-container">
                  <button (click)="uploadVideoData()" mat-raised-button
                    [disabled]="videoFile.value==='' || file.value==='' || !addVideoForm.valid"
                    color="primary">
                    Submit Video Data
                  </button>
                </div>
              </mat-card>
            </div>
          </mat-tab>
    
    
    
    
          <mat-tab label="Edit A Video">
            <!-- Edit a specific article -->
            <div *ngIf="editVideo" class="design-standard-container">
                
                    <!-- Edit a specific Event -->
                    <div class="design-standard-container">
                        <p *ngIf="!videoData"><em>Loading...</em></p>
                        <mat-card class="parent-card-container">
                          <mat-card-content class="container">
                
                            <div *ngFor="let video of videoData; let i = index" class="design-item-container">
                              <mat-card>
                                <div>
                                  <div class="item-title">
                                    <span class="item">{{ video.title }}</span>
                                    <span (click)="editSelectedVideo(videoEditModal, video)" class="edit-icon-container">
                                      <mat-icon class="edit-article-button">edit</mat-icon>
                                    </span>
                                  </div>
                                </div>
                              </mat-card>
                              <div *ngIf="i === videoData.length-1" class="spacer"></div>
                            </div>


                        </mat-card-content>
                      </mat-card>
                    </div>

              
            </div>
          </mat-tab>
    
        </mat-tab-group>
      </div>



<!-- Modal contents -->
<ng-template #videoEditModal>
    <div class="design-standard-container event-edit-container">
      <mat-card class="parent-card-container">
        <span (click)="closeModal()" class="close-Icon-wrapper">
          <mat-icon class="close-icon">highlight_off</mat-icon>
        </span>
        <mat-card-content class="container">
          <form [formGroup]="editVideoForm" novalidate>
            <!-- title -->
            <div class="design-item-container">
              <mat-card>
                <mat-form-field style="width: 100%;">
                  <textarea matInput name="title" formControlName="title" placeholder="Event Title"></textarea>
                </mat-form-field>
              </mat-card>
              <div class="spacer"></div>
            </div>
            <!-- Event description -->
            <div class="design-item-container">
              <mat-card>
                <mat-form-field style="width: 100%;">
                  <textarea matInput name="description" formControlName="description"
                    placeholder="Event Description"></textarea>
                </mat-form-field>
              </mat-card>
              <div class="spacer"></div>
            </div>
            </form>
            </mat-card-content>

        <div class="form-submit-btn-container">
          <button (click)="updateAVideoItem()" [disabled]="editVideoForm.invalid" mat-raised-button color="primary">
            Submit Edited Data
          </button> 
  
          <button style="margin-left: 10px;" (click)="deleteVideoRequest()" mat-raised-button color="basic">
            Delete this Video <mat-icon>arrow_upward</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  
  </ng-template>
    
    