.upload-progress, .upload-message {
    font-weight: bold;
    color: #28a745;
    margin-left: 15px;
    line-height: 36px;
}

.upload-btn {
    font-size: 22px;
    font-weight: bold;
    padding: 3px;
}
.upload-btn:hover {
    background-color: burlywood;
}

.preview-image-container {
   border: solid 1px gray;
   width: 250px;
   img {
       width: 100%;
   }
}

.file-submit-btn {
    font-size: 22px; 
    border-radius: 10px; 
    background-color: #66ceee; 
    padding: 15px;
}

.file-submit-btn:disabled {
    background-color: #dddddd;
}