<div class="standard-page">
  <br><br><br>

  <div class="unit_container">
    <div class="top-header-container">
        <h2>Welcome to the Website of : <br> Southern Cameroons Elite Force </h2>
    </div>
    
    <div class="news-headlines header-btm-adjust">
        <div class="news-flash-container">
        <div class="inner-flash-container">
            <span class="flash-header">Our Top News Message:</span>
            <app-news-flash></app-news-flash>
        </div>
        </div>
    </div>
  </div>

  <div class="main-page-container">
    <div class="design-bar"></div>
    <div class="inner-main-container"><br>
      <mat-card class="parent-card-container">
        <mat-card-content class="container"> 
          <div class="design-item-container padding-container">
            <mat-card>
                <div class="form-control-title" style="font-size: 23px;">
                    <p>SCEF is a mission that aims to bring all Southern Cameroonians from all walks of life, 
                        all groups (cultural or political) together in order to contribute regularly for a continual, 
                        sustainable support to the Revolution and struggle of our people back home.
                    </p>
                    <p>
                        You are very welcome to browse through our website and see what we have to offer. <br/><br/>
                        Under the "Main Menu" button on the top right corner of this page, are all the different pages you can browse. 
                    </p>
                    <p>You can always visit our News page for some interesting news items from Home.</p>
                </div>
            </mat-card>
            <div class="spacer"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
