
.jan05-protests {
    width: 100%;
    max-width: 900px;
    margin: 85px auto;
    .img-caption {
        border: solid 1px #ddd;
        border-radius: 0 0 0.25rem 0.25rem;
        background-color: #e3dddf;
        font-size: 16px;
        text-align: center;
    }

    .imgg-container {
        height: 615px;
        img {
            width: 100%;
        }
    }

    .rounded {
        border-radius: .25rem .25rem 0 0 !important; 
    }    
}

.animated {
    visibility: visible !important;
}
.hide-on-init {
    visibility: hidden;
}

.test-pos {
    position: fixed;
    right: 0;
    top: 48px;
    z-index: 500;
    background: #f6def5;
    height: 50px;
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    text-align: right;
}


@media(max-width : 730px){
    .jan05-protests {
        margin: 4px auto;
    }
}
