
<div class="image-holder">
  <p class="img-pos">
    <strong>{{ totalImagesShown }}</strong> Images being displayed of <strong>{{ totalImages }}</strong>
  </p>

  <div class="imgg-container" *ngFor="let image of missionPhotos" (deferLoad)="image.show = true">
    <ng-container *ngIf="image.show">
      <div class="image-parent hide-on-init" animateOnScroll animationName="animated zoomInDown">
        <img style="width: auto; height: 100%;" src="{{image.url}}" alt="SCEF Mission Photo">
      </div>
      <div class="img-caption" animateOnScroll animationName="animated zoomInDown">
        <span class="caption-holder">{{ image.caption }}</span>
      </div>
    </ng-container>
  </div>

</div>


