<!-- <div class="image-holder">
        <p>
            Total images displayed: 
            <strong>{{ totalImagesShown }}</strong>
        </p>

    <div class="imgg-container" *ngFor="let image of missionPhotos" (deferLoad)="image.show = true">
        <ng-container *ngIf="image.show">
            <img [src]="image.url"
                class="image-parent  hide-on-init"
                animateOnScroll animationName="animated zoomInDown"/>
                <div class="img-caption" animateOnScroll animationName="animated zoomInDown">{{ image.caption }}</div>
                <div class="dark_bg" animateOnScroll animationName="animated zoomInDown"></div>
        </ng-container>
    </div>
</div> -->

<div class="image-holder">
  <p class="img-pos">
    <strong>{{ totalImagesShown }}</strong> Images being displayed of <strong>{{ totalImages }}</strong>
  </p>

  <div class="imgg-container" *ngFor="let image of missionPhotos" (deferLoad)="image.show = true">
    <ng-container *ngIf="image.show">
      <div class="image-parent hide-on-init" animateOnScroll animationName="animated zoomInDown">
        <img style="width: auto; height: 100%;" src="{{image.url}}" alt="Mission Photo">
      </div>
      <div class="img-caption" animateOnScroll animationName="animated zoomInDown">
        <span class="caption-holder">{{ image.caption }}</span>
      </div>
    </ng-container>
  </div>
  <!-- 
    <div class="imgg-container" *ngFor="let image of missionPhotos" (deferLoad)="image.show = true">
        <ng-container *ngIf="image.show">
            <img class="image-parent" src="{{ image.url }}"
                class="image-parent hide-on-init"
                animateOnScroll animationName="animated zoomInDown"/>
                <div class="img-caption" animateOnScroll animationName="animated zoomInDown">{{ image.caption }}</div>
                <div class="dark_bg" animateOnScroll animationName="animated zoomInDown"></div>
        </ng-container>
    </div> -->
</div>





<!-- <mat-card class="parent-card-container">
  <mat-card-content class="container">
    <div class="design-item-container padding-container">
      <mat-card>


      </mat-card>
      <div class="spacer"></div>
    </div>
  </mat-card-content>
</mat-card> -->
