<div class="standard-page cockpit-container">
  <div class="cockpit-inner-container">
    <mat-drawer-container class="example-container spacing" [hasBackdrop]="hasBackdrop.value">
      <mat-drawer class="spacing" #drawer mode="push">   
        <div class="cockp-menu-list">
          <span >
            <span *ngIf="funcs.isSuper === 'true'">
              <a mat-menu-item (click)="loadChildRoute('functions', drawer)">
                <mat-icon class="menu-icon" aria-label="login icon">policy</mat-icon>
                Higher Functions
              </a>
            </span>
            <a mat-menu-item (click)="loadChildRoute('editphotos', drawer)">
              <mat-icon class="menu-icon" aria-label="Edit photos">insert_photo</mat-icon>
              Edit Photos
            </a>
            <a mat-menu-item (click)="loadChildRoute('userslist', drawer)">
              <mat-icon class="menu-icon" aria-label="edit user list">supervised_user_circle</mat-icon>
              Edit Users
            </a>                       
            <a mat-menu-item (click)="loadChildRoute('editFinances', drawer)">
              <mat-icon class="menu-icon" aria-label="Edit finances">attach_money</mat-icon>
              Edit Finances
            </a>                       
            <a mat-menu-item (click)="loadChildRoute('editnews', drawer)">
              <mat-icon class="menu-icon" aria-label="edit news">radio</mat-icon>
              Edit News
            </a>                       
            <a mat-menu-item (click)="loadChildRoute('editfaq', drawer)">
              <mat-icon class="menu-icon" aria-label="edit faq">help</mat-icon>
              Edit FAQs
            </a>                       
            <a mat-menu-item (click)="loadChildRoute('editvideos', drawer)">
              <mat-icon class="menu-icon" aria-label="edit faq">ondemand_video</mat-icon>
              Edit Videos
            </a>                       
        </span>

        </div>


        <!-- <ul class="cockp-menu-list">
          <li (click)="loadChildRoute('uploadphotos', drawer)">Upload Photos</li>
          <li (click)="loadChildRoute('userslist', drawer)">Edit User List</li>
          <li (click)="loadChildRoute('editamount', drawer)">Edit Amount</li>
          <li (click)="loadChildRoute('editnews', drawer)">Edit News</li>
        </ul> -->
      </mat-drawer>

      <mat-drawer-content>
        <mat-form-field class="cockpit-formf-1">
          <mat-select #hasBackdrop>
          </mat-select>
        </mat-form-field>
        <div class="side-drawer-menu-btn-wrapper">
          <div class="side-drawer-menu-btn-container">
            <button (click)="drawer.toggle()" mat-mini-fab color="primary"
              aria-label="Example icon button with a menu icon">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
        </div>

        <!-- All the nested routes will be loaded in this element -->
        <div class="padding-container">
          <router-outlet></router-outlet>
        </div>
        <mat-form-field class="cockpit-formf-2">
          <mat-select #mode value="side">
          </mat-select>
        </mat-form-field>




      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
