@import '../../../variables.scss';
.example-container {
  width: 100%;
  min-height: 800px;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.side-drawer-menu-btn-wrapper {
  display: flex;
  justify-content: space-between;
  width: 45px;
  padding: 3px;
}

.side-drawer-menu-btn-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.cockp-menu-list {
  padding: 0;
  a {
    color: #ffffff;
  }
  .menu-icon {
    color: #18f9ef;
    margin-right: 5px;
  }
}

.spacing {
  padding-top: 63px;
}

.cockpit-container {
  background-color: $cockpitBackgroundColor;
  width: 100%;
  box-sizing: border-box;
  .cockpit-formf-1, .cockpit-formf-2 {
    display: none;
  }
}
.cockpit-inner-container {
  width: 100%;
  box-sizing: border-box;
}
.padding-container {
  background-color: $eventsGray;
  // padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
}