.news-cards-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

  .individual-card-wrapper {
    border-bottom: solid 2px $blueDesignBorderColor;
  }

  .news-thumbnail-card {
    display: flex;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    height: 104px;
    background-color: white;
    padding: 3px;
    margin: 10px auto;
  }

  .news-image-container {
    height: 104px;
    width: auto;
    background-size: cover;
    flex: 1;
    background-repeat: no-repeat;
  }

  .news-summary {
    flex: 3;
    height: 100%;
    text-align: left;
    padding: 4px 4px 4px 10px;
  }

  .caption {
    font-size: 12px;
    font-weight: bold;
  }

  .summary {
    font-size: 12px;
    margin: 5px 0;
    font-style: italic;
    border-top: solid 1px #cec9c9;
    border-bottom: solid 1px #cec9c9;
    background-color: #f3f6f6;
    padding: 2px 0;
  }

  .date-released {
    font-size: 10px;
  }
}

