<div class="standard-page">
  <br><br><br>

  <div class="unit_container">
      <div class="top-header-container">
        <span class="tab-header">Elite Force Upcoming Events and Activities:</span>
      </div>

      <div class="news-headlines header-btm-adjust">
        <div class="news-flash-container">
          <div class="inner-flash-container">
            <span class="flash-header">Our Top News Message:</span>
            <app-news-flash></app-news-flash>
          </div>
        </div>
      </div>
  </div>


  <div>
    <div class="design-bar"></div>
    <div class="inner-main-container"> <br/>
      <mat-card class="parent-card-container">
        <mat-card-content class="container">

          <div class="design-item-container padding-container">
            <mat-card style="padding: 4px;">
              <span class="design-card-title2">Open Fundraising in Mississauga</span>
              <div>
                <!-- <mat-icon class="edit-article-button">event_note</mat-icon> -->
                <div class="description-line">
                        Lorem ipsum dolor sit amet, amet doming ornatus cu has, te eum tempor essent virtute. Sed id definitionem necessitatibus. 
                </div>
                <div class="list-details">
                    <ul>
                        <li><span class="program-list">Time: </span> <span>6:45 pm</span></li>
                        <li><span class="program-list">Date: </span> <span>27th Sept/2020</span></li>
                        <li><span class="program-list">Venue: </span> <span>24 Springfield Avenue, Mississauga, M7w 7L4</span></li>
                        <li><span class="program-list">Comments: </span> <span>For registered members only.</span></li>
                    </ul>
                </div>
              </div>
            </mat-card>
          </div>

          <div class="design-item-container padding-container">
            <mat-card style="padding: 4px;">
              <span class="design-card-title2">Open Fundraising in Mississauga</span>
              <div>
                <!-- <mat-icon class="edit-article-button">event_note</mat-icon> -->
                <div class="description-line">
                        Lorem ipsum dolor sit amet, amet doming ornatus cu has, te eum tempor essent virtute. Sed id definitionem necessitatibus. 
                </div>
                <div class="list-details">
                    <ul>
                        <li><span class="program-list">Time: </span> <span>6:45 pm</span></li>
                        <li><span class="program-list">Date: </span> <span>27th Sept/2020</span></li>
                        <li><span class="program-list">Venue: </span> <span>24 Springfield Avenue, Mississauga, M7w 7L4</span></li>
                        <li><span class="program-list">Comments: </span> <span>For registered members only.</span></li>
                    </ul>
                </div>
              </div>
            </mat-card>
            <div class="spacer"></div>
          </div>


        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
