$errors-red: #ed1c24;
// $newsBBBlue: #e5eff2;
// $newsBBBlue: #e4ebed;
$newsBBBlue: #e7e7e4;
$deepDesignGray: #a3a39f;
$designGray: #e7e7e4;
$designBabyBlue: #99d3ef;
$blueDesignBorderColor: #39a8ca;
$cockpitBackgroundColor: #e8e2dc;