$errors-red: #ed1c24;
$newsGray: #e7e7e4;
$eventsGray: #e8e2dc;
// $deepDesignGray: #a3a39f;
$deepDesignGray: #cfcfcb;
$designGray: #e7e7e4;
$designBabyBlue: #99d3ef;
$blueDesignBorderColor: #39a8ca;
$cockpitBackgroundColor: #e8e2dc;
$listingDesignColor: #147daf;